.custom-select__content {
    position: relative;
    flex: auto;
}

.custom-select__content.right {
    margin-right: 32px;
}

.custom-select__close {
    position: absolute;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 2px solid #D5DBE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-select__close svg {
    width: 10px;
    height: 10px;
}

.custom-select__close--bottom {
    top: 40px;
    left: calc(50% - 12px);
}

.custom-select__close--left {
    top: 4px;
    left: -32px;
}

.custom-select__close--right {
    top: 4px;
    right: -32px;
}

.custom-select__close:hover {
    background-color: #f3f4f6;
}

.custom-select__close:active {
    background-color: #E8E9ED;
    border: none;
}